{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
    {% do assets.addCss('theme://css/reset.css', 98) %}
    {% do assets.addCss('https://use.fontawesome.com/releases/v5.4.1/css/all.css', 99) %}
    {% do assets.addCss('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', 96) %}
    {% do assets.addCss('theme://various.css', 96) %}
    {% do assets.addCss('theme://css/home.css', 95) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
    {# {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js', 100)%} #}
    {% do assets.addJs('theme://js/jquery-2.2.4.min.js', 100) %}
    {% do assets.addJs('theme://js/common_scripts.js', 99) %}
    {% do assets.addJs('theme://js/main.js', 98) %}
    {% endblock %}
    {{ assets.js() }}

    {% endblock head %}
</head>

<body id="top" class="{{ page.header.body_classes }}">

    <div id="page">

        {% block header %}
        <header class="header menu_2">
            <div id="preloader">
                <div data-loader="circle-side"></div>
            </div><!-- /Preload -->
            <div id="logo">
                <a href="{{ base_url == '' ? '/' : base_url }}"><img src="{{ url('theme://images/logo.png') }}" width="190"
                        height="50" data-retina="true" alt="MyE2O"></a>
            </div>
            <ul id="top_menu">
                <li><a href="#" class="btn_1 rounded">Login</a></li>
            </ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                <ul>
                    <li><span><a href="{{ base_url == '' ? '/' : base_url }}">Inicio</a></span></li>
                    <li><span><a href="#0">Buenas prácticas</a></span></li>
                    <li><span><a href="#0">Acerca de MyE2O</a></span></li>
                    <li><span><a href="#0">Quiénes somos</a></span></li>
                    <li><span><a href="#0">Foro</a></span></li>
                </ul>
            </nav>
        </header>
        {# <div class="header">
            <div class="wrapper padding">
                <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                    <i class="fa fa-rebel"></i>
                    {{ config.site.title }}
                </a>
                {% block header_navigation %}
                <nav class="main-nav">
                    {% include 'partials/navigation.html.twig' %}
                </nav>
                {% endblock %}
            </div>
        </div> #}
        {% endblock %}

        {% block body %}
        <section id="body">
            <div class="wrapper padding">
                {% block content %}{% endblock %}
            </div>
        </section>
        {% endblock %}

        {% block footer %}
        <footer>
            <div class="container margin_120_95">
                <div class="row">
                    <div class="col-lg-5 col-md-12 p-r-5">
                        <p><img src="{{ url('theme://images/logo.png')}}" width="300" height="80" data-retina="true"
                                alt=""></p>
                        <p>El dominio www.mye2o.org y su contenido es propiedad de la ASOCIACIÓN ESPAÑOLA DE ESCUELAS
                            DE SEGUNDA OPORTUNIDAD inscrita en el Registro Nacional de Asociaciones, con Número de
                            Identificación Fiscal G56045131.
                            Datos de contacto: Calle San Francisco de Sales, núm. 1, 14010 Córdoba.</p>
                        <div class="follow_us">
                            <ul>
                                <li>Siguenos</li>
                                <li><a href="https://www.facebook.com/e2oespana/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/E2OEspana"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCh2UcwsijUa7EA7TztRy3dA"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ml-lg-auto">
                        <h5>Menú</h5>
                        <ul class="links">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#0">Buenas practicas</a></li>
                            <li><a href="#0">Acerca de E2OenRed</a></li>
                            <li><a href="#0">Quienes somos</a></li>
                            <li><a href="#0">Foro</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5>Contáctanos</h5>
                        <ul class="contacts">
                            <li><a href="tel://#"><i class="ti-mobile"></i> + 34 93 8093 3400</a></li>
                            <li><a href="mailto:info@e2oenespana.com"><i class="ti-email"></i> info@e2oespana.org</a></li>
                        </ul>
                        <div id="newsletter">
                            <h6>Newsletter</h6>
                            <div id="message-newsletter"></div>
                            <form method="post" action="#" name="newsletter_form" id="newsletter_form">
                                <div class="form-group">
                                    <input type="email" name="email_newsletter" id="email_newsletter" class="form-control"
                                        placeholder="Tu correo">
                                    <input type="submit" value="Enviar" id="submit-newsletter">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <ul id="additional_links">
                            <li><a href="#0">Política de Privacidad</a></li>
                            <li><a href="#0">Política de Cookies</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div id="copy">© 2018 E2OESPAÑA</div>
                    </div>
                </div>
            </div>
        </footer>
        {# <div class="footer text-center">
            <div class="wrapper padding">
                <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i>
                    by
                    <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
            </div>
        </div> #}
        {% endblock %}

        {# {% block bottom %}
        {{ assets.js('bottom') }}
        {% endblock %} #}
    </div>
</body>

</html>