<section class="banner">

    <div class="box-title">
        <p class="title-1">Buena Practica</p>
        <p class="title-2">{{page.header.title}}</p>
    </div>

</section>
<section>
    {% for item in page.taxonomy.category %}
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a class="categoriaBread" href="#">CATEGORIAS</a></li>
        <li class="breadcrumb-item currentCategoria" aria-current="page">{{item}}</li>
    </ol>
    {% endfor %}
</section>
<section class="row">
    <div class=" offset-1 col-10 resumen">
        <p class="text-resumen">{{page.summary(180)}}</p>
    </div>
</section>
<section class="container">
    <ul class="box-tags row">
        {% for tag in page.taxonomy.tag %}
        <li class="tags col-2">{{tag}}</li>
        {% endfor %}
    </ul>
</section>
<section class="container">
    <div class="row">
        <div class="offset-1 box-content col-7">
            {{page.content}}
        
        </div>
        <div class=" offset-1 col-3">
            <div>logo</div>
            <div>autor</div>
            <div>descarga</div>
            <div>mapa</div>
            <div>galeria imagenes</div>
            <div>share</div>
        <div>
    </div>



</section>