
{# Seccion banner y titulo de la buena practica #}
<section class="banner">

    <div class="box-title">
        <p class="title-1">Buena Practica</p>
        <p class="title-2">{{page.header.title}}</p>{# Aqui va el titulo de la buena practica #}
    </div>

</section>



{# Seccion del breadcrumb #}
<section>

    {% for category in page.taxonomy.category %}
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a class="categoriaBread" href="#">CATEGORIAS</a></li>
        <li class="breadcrumb-item currentCategoria" aria-current="page">{{category}}</li> {# Categoria asignada a la ficha #}
    </ol>
    {% endfor %}

</section>



{# Seccion resumen #}
<section class="row">

    <div class=" offset-1 col-10 resumen">
        <p class="text-resumen">{{page.summary(180)}}</p> {# Pequeño resumen de la ficha con un maximo de 180 caracteres #}
    </div>

</section>



{# seccion tags #}
<section class="container">

    <ul class="box-tags row">
        {% for tag in page.taxonomy.tag %}
        <li class="tags col-2">{{tag}}</li> {# Aqui se cargan todas las tags asignadas a la ficha #}
        {% endfor %}
    </ul>

</section>



{# Seccion contenido de la ficha y barra lateral #}
<section class="container">

    <div class="row">

        {# Aqui se carga el contenido de la ficha #}
        <div class="offset-1 box-content col-7">
            {{page.content}}

        </div>

        {# Barra Lateral #}
        <div class="offset-1 col-3">

            {# Logo de la entidad que publica la buena practica #}
            <div class="entidad {{page.header.entidad}}"></div>{# El logo de la entidad tiene que ser .png o .jpg #}

            {# Autor y posicion que ocupa #}
            <div class="autor">
                <p>{{page.header.autor}}<img src="{{ url('theme://images/contactAuthor.png') }}" alt="" height="80"></p>
                {{page.header.cargo}}
            </div>

            {# Botones para imprimir y descargar #}
            <div class="btn-download"><button>imprimir</button><button>descarga</button></div>

            {# Mapa localidad de la entidad #}
            <div class="localidad {{page.header.localidad}}"></div>

            {# Galeria de la imagenes subidas a la ficha #}
            <div class="gallery-images">
                {% for image in page.media.images %}
                {{ image.html }}
                {% endfor %}
            </div>

            {# Botones share #}
            <div class="share">
                    <i class="fab fa-facebook-f fa-2x"></i><i class="fab fa-twitter-square fa-2x"></i><i class="fab fa-instagram fa-2x"></i>
            </div>


        </div>

    </div>
    
</section>
